spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:5432/${DB_NAME}
    username: postgres
    password: ${DB_PASS}
    driver-class-name: org.postgresql.Driver
    # Configurações do pool de conexões HikariCP
    hikari:
      maximum-pool-size: 20
      minimum-idle: 2
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: update