spring:
    datasource:
        driver-class-name: org.h2.Driver
        url: jdbc:h2:mem:testdb
        username: sa
        password:
    jpa:
        show-sql: true
        properties:
          hibernate:
            format_sql: true
        hibernate:
            ddl-auto: create-drop
    h2:
        console:
            enabled: true
            path: /h2
logging:
  level:
    br:
      com:
        appsemaperreio: DEBUG