.main {
    flex-grow: 1;
    background-color: #f9f9f9;
    padding: 20px;
    overflow-x: auto;
}

.main h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.acoes {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.acoes button {
    padding: 8px 20px;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: normal;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.acoes button:hover {
    background-color: rgba(255, 99, 71, 0.625);
}

.table{
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.table th, td {
    padding: 12px 16px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.dadosUsuario {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}