name: Build/Push Escalante Frontend Docker Image

on:
    push:
        branches:
            - main
        paths:
            - "apis/**"
            - ".github/workflows/build-escalante-front.yml"

jobs:
    build-and-push:
        name: Build and Push Docker Image
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Login Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ vars.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Setup QEMU
              uses: docker/setup-qemu-action@v3

            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and Push Docker Image
              id: build-push
              uses: docker/build-push-action@v6
              with:
                context: ./front
                platforms: linux/amd64,linux/arm64
                push: true
                tags: |
                    ${{ vars.DOCKERHUB_TAG_FRONT }}:0.0.4-snapshot
                    ${{ vars.DOCKERHUB_TAG_FRONT }}:latest
                cache-from: type=registry,ref=${{ vars.DOCKERHUB_TAG_FRONT }}:latest
                cache-to: type=inline

            - name: Image digest
              run: |
                echo "Image digest: ${{ steps.build-push.outputs.digest }}"
